.some-text {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-style: italic;

}
.some-text-1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 2000;
    font-style: initial;
    text-decoration-line: line-through;
    
}
.some-text-2{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-style:normal;
    text-align: center;
}
.some-text-3{
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
    font-style: normal;
    word-spacing: 30px;
    text-decoration: wavy overline black;
    text-decoration-thickness: 2px;
    text-shadow: 1px 1px 0px rgb(59, 20, 176);
}


.some-text-4{
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 30px;
    font-weight: 100;
    font-style: normal;
    letter-spacing:5px;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: black; /* Цвет линии */
}